* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

h1, p, .user-btn, .simon-btn {
    text-align: center;
    margin: 20px 0;
}

button, input, span {
    padding: 2px 20px;
    font-size: 18px;
}

.pc-numbers {
    font-size: 18px;
}

.user-btn {
    margin-top: 60px;
}

input {
    padding: 2px;
}

.inactive {
    display: none;
}

.result {
    display: flex;
    justify-content: space-around;
}

span {
    margin-top: 20px;
}